body{
    height: 100vh;
    background: #066acd;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    width: 40%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
}