#accordion {
    width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
}
.accordion-title {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.accordion-title::after {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}
.accordion-title.active:after {
    content: '-';
}
.accordion-body {
    display: none;
}
.accordion-body.active {
    display: block;
    font-size: 20px;
    margin: 15px 0;
}